<section>
<div class="container">
  <div class="row">
    
     <div class="col-md-6">
      <h1>add product</h1>

  

<form action="./add-product" enctype="multipart/form-data" method="post"   >
  
    <label for="name">Name</label>
    <input type="text" class="form-control" name="Name" id="name" placeholder="Name">


    <label for="category">cateagry</label>
    <input type="text" name="Category" class="form-control" id="Category" >

    <label for="price">price</label>
    <input type="text" name="Price" class="form-control" id="Price">

    <label for="discription">discription</label>
    <input type="text" name="Discription" class="form-control" id="Discription">
    
     <label for="image">Image</label>
    <input type="file" name="Image" class="form-control">
  

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </div>
  </div>
</div>

</section>