<div class="section">
<div class="container">
  <div class="row">
    
     <div class="col-md-6">
      <h1>add product</h1>

  

<form action="./add-product" enctype="multipart/form-data" method="post"  >
  
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="name">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
 

    <label for="category">cateagry</label>
    <input type="text" class="form-control" id="category" category">

 
    <input type="file" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">choosefile</label>
  <
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </div>
  </div>
</div>

</div>