<div class="section">
<div class="container">
  <div class="row">
    
     <div class="col-md-6">
      <h1>add product</h1>

  

<form action="./add-product" enctype="multipart/form-data" method="post"   >
  
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Name">


    <label for="category">cateagry</label>
    <input type="text" name="category" class="form-control" id="category" >

 <input type="file" name="image">
<label>choosefile</label>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </div>
  </div>
</div>

</div>