<section>
  <table class="table">
    <thead>
      <tr>

        <th scope="col">Item</th>
        <th scope="col">Title</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
       {{#each products}}
      <tr>
        
        <td><img src="/product-images/{{this._id}}.jpg" style="width: 70px; heigth: 70px;" ></td>
        <td>{{this.Name}}</td>
        <td><button style="width:10px; heigth:10px">-</button>1<button>+</button></td>
        <td><button >Remove</button></td>
        
    </tr>
    {{/each}}
  </tbody>
</table>

</section>