<section>
  <table class="table">
    <thead>
      <tr>

        <th scope="col">Item</th>
        <th scope="col">Title</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td><img src="https://ik.imagekit.io/ikmedia/backlit.jpg" style="width: 70px; heigth: 70px;" /></td>
        <td>saree</td>
        <td><button style="width:10px; heigth:10px">-</button>1<button>+</button></td>
        <td><button class=">Remove</button></td>
    </tr>
  </tbody>
</table>

</section>